{% extends "../../main.html.twig" %}
{% block main %}
<main>

	<section>
		<h2>Mes sorties</h2>
		{% for event in user.eventUser %}
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">{{event.description}}</h5>
					<p class="card-text">depart : {{event.departureLocation}} le {{event.startDate}}</p>
					<p class="card-text">à {{event.hour}}</p>
					<p class="card-text">arriver :{{event.backLocation}} le {{event.endDate}}</p>
					<p class="card-text">étape :{{event.step}}</p>
					<p class="card-text">type : {{event.step}}</p>
					<a href="/modifierEvenement/{{event._id}}" class="btn btn-primary">Modifier</a>
					<a href="/supprimerEvenement/{{event._id}}" class="btn btn-danger">Supprimer</a>
				</div>
			</div>
		{% endfor %}
	</section>
</main>
{% endblock %}
